
body{
	background: url(nature.jpg);
	background-size: cover;
	background-position: center;
	margin: auto;

}

.btn-default{
	background-color: gray;
	text-align: center;
	background-color: rgba(255, 255, 255,0.7);
}



html{
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 35%;

}

.okvir{
	background-color: rgba(1,1,1, 0.5);
	color: rgba(255, 255, 255,0.7);
	width: 500px;
}

#mc_embed_signup form { text-align: center;}